.Header {
    height: 135px;
    background:#ED9292;

}
@media (max-width: 768px) {
    .Header {
      max-width: 100%; 
      height: auto;
      background:#ED9292;
      } //最大寬度為100%,取消高度改自動
      }


.Logo {
  float: left;
  margin: 10px 0 0 10px;
  
  }
  
@media (max-width: 768px) {
    .Logo {
            float: none;//取消浮動
            margin: 0;
    }
}

.Logo a {
    display: block;
    background: url(趴.png);
    text-indent: -999999px;
    width: 338px;
    height:100px;
    text-decoration: none; 
    background-size: auto 100%;
    margin-left:50px; 
    }
@media (max-width: 768px) {
    .Logo a{
        margin: 0 auto;//logo置中
        
    }
}


.good {
    float: right;
}

.good li {
    float: left;
    width: 130px;
    text-align: center;
    list-style: none;
    margin: 0px auto;
    }

@media (max-width: 768px) {
    .good li {
        display: none;
    }
}

table{
  display: none;
}



.good li a {
      text-decoration: none;
      color: #00a67d;
      display: block;
      margin: 0 1px; 

      }


@media (max-width: 768px) {
    table {
      display: inline;
    }
}
@media (max-width: 768px) { 
    table a:hover{
    color: white;//滑過文字變黑色

    }
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #7C9885;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 2px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;margin-top:14px;margin-left: 10px
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



#fixed_header {
    position:fixed;
    z-index:1;
    top:0;
    width:100%;
    background-color:#ED9292;

  }
  #navi {
    margin:0 auto;
    text-align:right;
list-style-type:none;
  }
  #phone-navi{
    display: none;
  }
  @media (max-width: 768px) {
    #navi {
      display: none;
    }
}
@media (max-width: 768px) {
    #phone-navi {
    display: inline;
     margin:0px auto 0px auto;
    text-align:center;

    }
    #phone-navi li {
    list-style-type:none;
    display:inline;
  }
    li{
      margin: 0px 12px 0px 12px;
      font-size:5vmin;
      border-width:3px
    }
}

  #navi li {
    list-style-type:none;
    display:inline;
  }

  #real_header {
    top:0%;
    position:absolute;
    width:100%;
    z-index:2;
    background-color:#ED9292;
  }
  @media (max-width: 768px) {
    #real_header {
    top:0%;
    position:absolute;
    width:100%;
    z-index:2;
    background-color:#ED9292;
    padding-bottom: 35px;
  }
}

  .menu_list {  
  width: 120px;
}
.menu_head {
  font-size:5vmin;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  margin:1px;
  font-weight:bold;
  background:#fff;
}
.menu_body {
  display:none;
}
.menu_body a{
  display:block;
  color:#006699;
  background-color:#EFEFEF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover{
  color: #000000;
  text-decoration:underline;
  }

#phonemenu{
  display: none;
}
#nav,#nav-toggle{
  display: none;
}
@media (max-width: 768px) {
    #netmenu {
      display: none;
    }
    #phonemenu{
      display: block;
    }
}

#navi1{
  max-height:65px;
  width:auto;
  padding-right: 265px;
}
#navi2{
  max-width:120px;
  height:auto;
}
#navi3{
  max-width:120px;
  height:auto;
  margin-top:7px;
}
#navi4{
  max-width:80px;
  height:auto;
  margin-top:7px;
}
.button{
  vertical-align:middle;
  margin-top:14px;
  margin-left: 10px;
}
#phone-navi1{
border-left:3px #FFD382 solid;
margin: 0px 5px 0px 5px;
}
#phone-navi2{
border-left:3px #FFD382 solid;
margin: 0 5px;
}
#good1{
max-width:120px;
height:auto;
}
#good2{
max-width:120px;
height:auto;
padding-top:7px;
margin-left:7px;
}
#good3{
max-width:80px;
height:auto;
padding-top:7px;
}
#ph1{
  font-size: 4vmin;
  border-width: 3px;
}
#ph2{
  padding-top:120px;
  padding-bottom:10px;
  list-style-type:none;
  display:inline;
  position: absolute;
  z-index:2;
}
#ph3{
border-left:3px #FFD382 solid;
margin: 0px 5px 0px 40px;
}
#ph4{
border-left:3px #FFD382 solid;
margin: 0 5px;
}