
#love1{
  margin-left:5px;
  margin-top:90px;
  box-shadow:5px 5px 12px #ED9292;
  width:130px;
  height: 530px;
  text-align:center;
  color: black;
  position: fixed;
}
@media (max-width: 768px) {
    #love1 {
      display: none;
    }
}
#love2{
  margin-left:880px;
  margin-top:90px;
  box-shadow:5px 5px 12px #ED9292;
  width:390px;
  height: 530px;
  text-align:center;
  color: black;
  position: fixed;
  overflow-x:hidden; 
  overflow-y:visible;
}
@media (max-width: 768px) {
    #love2{
  margin-left:5px;
  margin-top:90px;
  box-shadow:5px 5px 12px #ED9292;
  width:0px;
  height: auto;
  text-align:center;
  color: black;
  position: absolute;
}
}
.love3{
  margin-left:0px;
  margin-top:90px;
  box-shadow:1px 1px 12px #ED9292;
  width:870px;
  height:auto;
  text-align:center;
  position: absolute;
}
@media (max-width: 768px) {
    .love3{
  margin-left:120px;
  margin-top:90px;
  box-shadow:1px 1px 12px #ED9292;
  width:370px;
  height:auto;
  text-align:center;
  position: absolute;

}
}
#l1{
  border:4px black solid;
  border-radius:5px;
  width:165px;
  height:50px;
  background-color:#eee;
  font-size:4vmin;
  text-align:center;
  margin-top:10px;
  padding:3px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
    #l1 {
      top:70px;
      position: fixed;
      margin-top:20px;
      margin-left: 10px;
      max-width:90px;
      height:auto;
    }
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10{
     border:2px black dashed;  
     background-size: cover;
     border-radius:10px;
     margin: 5px;   
     height:95px;
     width:90px;
     display:inline-block;
     margin-bottom:50px;
     position: relative;
     z-index: -1;
}
#p1 img,#p2 img,#p3 img,#p4 img,#p5 img,#p6 img,#p7 img,#p8 img,#p9 img,#p10 img{
  background-size: cover;
  height: 70px;
  width:80px;
  padding: -5px;
}
@media (max-width: 768px) {
    #p1,#p2,#p9,#p8{
      display: block;
      margin-left: 5px;
      margin-bottom:56px;
    }
}

#n1,#n2,#n3,#n4,#n5,#n6,#n7,#n8,#n9,#n10{
margin-bottom: 10px;
}
#p11{
  padding-top: 90px;
}
.but1{
  font-size: 20px; 
  background-color: transparent; 
  border-radius: 8px; 
  border: 2px solid rgba(105,105,105,0.6);
  margin:10px;
}

.sourceItem {

  background-size: cover;
  border:4px black dashed;   
  margin: 10px;   
  padding: 1px;
  height: 130px;   
  max-width: 200px;   
  border-radius:10px; 
  }
.sourceItem img{
  height: 120px;
  width: 140px;
  }
@media (max-width: 768px) {
    .sourceItem {
  background-size: cover;
  border:2px black dashed;   
  margin: 10px;   
  padding: 10px;
  height:130px;   
  max-width: 130px;   
  border-radius:10px; 
  }
}
  #ul_Source3{
  	width: 350px;
  	height: auto;
  	position: absolute;
  	z-index: -1;
  }
@media (max-width: 768px) {
    #ul_Source3{
      width: 100px;
      margin-left:5px;
  margin-top:70px;
  box-shadow:5px 5px 12px #ED9292;
  height: auto;
  text-align:center;
  color: black;
  position: absolute;

    }
}

  #ul_Target3{
  	width: 250px; 
  	padding: 10px; 
  	min-height: 330px;
  	padding:10px;
  	background: rgba(255,255,255,0.6);
  	border-radius:10px;
  	margin-left: 35%;
  	margin-top: 150px;
  	margin-bottom: 40px;
    color: #4f4f4f;
  }
@media (max-width: 768px) {
    #ul_Target3{
    width: 230px; 
    min-height: 300px;
    padding:2px;
    background: rgba(255,255,255,0.6);
    border-radius:10px;
    margin-left:30px;
    margin-top: 150px;
    margin-bottom: 40px;
    color: #4f4f4f;
  }
}
#love31{
  margin-right: 100px;
	height: 100px;
	width: 850px;
	background-color: #fff;
	position: fixed;
	text-align: center;
}
@media (max-width: 768px) {
    #love31{
  height: 80px;
  width: 600px;
  background-color: #f2e6e6;
  position: fixed;
  text-align: center;
  margin-top: -5px;
}
}
#laji1{
  display:none;
}
.drag{display: none;}
#dragbasic{display: none;}
@media (max-width: 768px) {
.drag {
    background-size: cover;
  border:2px black dashed;   
  margin: 10px; 
  padding: 10px;
  height:100px;   
  width: 100px;   
  border-radius:10px; 
  display:block;
}}
@media (max-width: 768px) {
#dragbasic {
   margin-left:5px;
  margin-top:90px;
  box-shadow:5px 5px 12px #ED9292;
  width:110px;
  height: 600px;
  text-align:center;
  color: black;
  position: absolute;
  display: block;
  z-index: -1

}
#dragbasic1 {
   margin-left:210px;
  margin-top:250px;

  width:110px;
  height: 600px;
  text-align:center;
  color: black;
  position: absolute;
  display: block;
  z-index: 0;

}
}
.hihi{
  background-size: cover;   

  padding: 10px;
  height:100px;   
  max-width: 100px;   
  border-radius:10px; 
  display:block;
}