#love1{
  margin-left:5px;
  margin-top:135px;
  box-shadow:5px 5px 12px #ED9292;
  width:130px;
  height: 500px;
  text-align:center;
  color: black;
  position: fixed;
}
#love2{
  margin-left:145px;
  margin-top:135px;
  box-shadow:5px 5px 12px #ED9292;
  width:250px;
  height: 500px;
  text-align:center;
  color: black;
  position: fixed;
  overflow: none;
}
.love3{
  margin-left:400px;
  margin-top:135px;
  box-shadow:1px 1px 12px #ED9292;
  width:860px;
  height:auto;
  text-align:center;
  position: absolute;
}
#l1{
  border:4px black solid;
  border-radius:5px;
  width:165px;
  height:45px;
  background-color:#eee;
  font-size:4vmin;
  text-align:center;
  margin-top: 20px;
  padding:3px;
  margin-bottom: 40px;
}
#p1,#p2,#p9,#p8{
     border:2px black dashed;  
     background-size: cover;
     border-radius:10px;
     margin: 5px;   
     height:90px;
     width:90px;
     display:inline-block;
     margin-bottom:50px;
     position: relative;
     z-index: -1;
}

#p11{
  padding-top: 90px
}
.but1{
  font-size: 20px; 
  background-color: transparent; 
  border-radius: 8px; 
  border: 2px solid rgba(105,105,105,0.6);
  margin:10px;
}

.sourceItem {
    color:#4f4f4f;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
    border:2px black dashed;  
     background-size: cover;
     border-radius:10px;
  }
  #ul_Source3{
  	width: 250px;
  	height: 500px;
  	position: absolute;
  	z-index: -1;
  }
  #ul_Target3{
  	width: 250px; 
  	padding: 10px; 
  	min-height: 300px;
  	padding:10px;
  	background: rgba(255,255,255,0.6);
  	border-radius:10px;
  	margin-left: 35%;
  	margin-top: 150px;
  	margin-bottom: 40px;
  }
#love31{
	height: 100px;
	width: 100%;
	background-color: #f2e6e6;
	position: fixed;
	text-align: center;
}
