#log {
    position: fixed;
    right: 0;
    top: 0px;
    width: 120px;
    height: 80px;
    z-index: 5;
    background:#ED9292;
    font-size: large;
    text-align: left;
    border-right: none;
    font-size:4vmin;
}
@media (max-width: 768px) {
    #log {
      display: none;
    }
}